<div class="wrapp"><div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input type="email" matInput placeholder="E-mail"  [(ngModel)]="credentials.email"  name="email" required>
          </mat-form-field>
  
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field> -->
  
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Hasło" [(ngModel)]="credentials.password" name="password" required>
          </mat-form-field>
  
  
        </mat-card-content>
  
        <button mat-stroked-button type="submit" color="accent" (click)="register()" class="btn-block">Rejestracja</button>
  
      </form>
    </mat-card>
  </div>
</div>