<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="codepen-card">
        <a routerLink="/course/{{course.id}}">
        <img class="codepen-card-image" src="{{course.image}}" alt="">
            <div class="codepen-card-user">
                <img src="https://picsum.photos/100/100" alt="" class="codepen-card-user-image">
                <div class="codepen-card-user-details">
                    <h1 class="title">
                    {{course.name}}
                    </h1>
                    <p >
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                </div>
        
            </div>
        
        </a>
   
    </div>
    <!-- <star-rating ng-model="rating.rating2" readonly="rating.isReadonly"></star-rating> -->

   


