<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="move-card">
        <a routerLink="/course/{{course.id}}">
        <img class="move-card-image" src="{{course.image}}" alt="">
            <div class="move-card-course">
                <img [src]="course.courseForm== labCond ?  labImgUrl : classImgUrl"  alt="" class="move-card-lab-image">
                <div class="move-card-course-details">
                    <h1 class="title">
                    {{course.name}}
                    </h1>
                    <p >
                       
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                              <span class="half" [style.width.%]="fill"> <span class="fa fa-star checked"></span></span><span class="fa fa-star"></span>
                            </span>
                          </ng-template>

                          <ngb-rating [(rate)]="course.grade" [starTemplate]="t" [readonly]="true" max="6"></ngb-rating>
                    </p>
                </div>
        
            </div>
        
        </a>
   
    </div>

   


