<!-- <div *ngIf="course">
  <nav>
    <a routerLink="/courses">Courses</a>
  </nav>
  <h2> {{course.name}} szczegóły:</h2>
  <div><span>Ects: </span>{{course.ects}}</div>
  <div><span>Opis: </span>{{course.description}}</div>
  <div><span>Semestr: </span>{{course.semester}}</div>

</div> -->
<!-- <body  >
  <div style="text-align:center">
  <div class = "cards-container">
<mat-card>
  <img mat-card-image class="cards-container-image" src="{{ course.image }}">
  <mat-card-title>{{ course.name }}</mat-card-title>
  <mat-card-content>
    {{ course.description }}
    </mat-card-content>
</mat-card>
<mat-card>
 
    <mat-card-content>
      <p class="card-text"><small class="text-muted">Liczba punktów ECTS: {{ course.ects }}</small></p>
      <p class="card-text"><small class="text-muted">Semestr: {{ course.semester }}</small></p>
      <p class="card-text"><small class="text-muted">Forma kursu: {{ course.courseForm }}</small></p>
      <p class="card-text"><small class="text-muted">Maksymalna liczba studentów: {{ course.maxStudents }}</small></p>
      <p class="card-text"><small class="text-muted">Liczba wolnych miejsc: {{ course.maxStudents - course.numberOfStudents }}</small></p>
      <p class="card-text"><small class="text-muted">Liczba gwiazdek: {{ course.grade }}</small></p>
    </mat-card-content>
</mat-card>
</div>


      <div class="col-lg-8 offset-lg-2 text-center">
      <button mat-button [routerLink]="['/courses']" >Zapisz się</button>

      
      </div>
    </div>
    </body> -->
<div class="container mt-5">
  <div class="mb-3">
    <div class="row no-gutters">
      <mat-card class="col-lg-4" [class.mat-elevation-z8]="true" >
        <img mat-card-image src="{{ course.image }}" class="card-img img-fluid" alt="..." style="height: 100%;">
      </mat-card>
      <mat-card class="col-lg-8 cardd" [class.mat-elevation-z8]="true">
       
          <h5 class="card-title">{{ course.name }}</h5>
          <p class="card-text">{{ course.description }}</p>

          <p class="card-text"><small class="text-muted">Liczba punktów ECTS: {{ course.ects }}</small></p>
          <p class="card-text"><small class="text-muted">Semestr: {{ course.semester }}</small></p>
          <p class="card-text"><small class="text-muted">Forma kursu: {{ course.courseForm }}</small></p>
          <p class="card-text"><small class="text-muted">Maksymalna liczba studentów: {{ course.maxStudents }}</small>
          </p>
          <p class="card-text"><small class="text-muted">Liczba wolnych miejsc:
              {{ course.maxStudents - course.numberOfStudents }}</small></p>
          <p class="card-text"><small class="text-muted">Liczba gwiazdek: {{ course.grade }}</small></p>
      
      </mat-card>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <a mat-raised-button  color="primary" routerLink="/myCourses" class="btn btn-outline-secondary ml-2" (click)="joinCourse()"
        style="cursor: pointer;">Zapisz się na kurs</a>
    </div>
  </div>
</div>
