@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.fa-star {
  color: #555555;
}

.checked {
  color: orange;
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, white, lightgrey)
}

.move-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 1rem;
  padding: 1rem;
  z-index: 0;
  cursor: pointer;
}



.move-card:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 88%;
  height: 88%;
  background: #343a40;
  border-radius: 15px;
  z-index: -1;
  transition: all 150ms ease;
}

.move-card:hover:before {
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}

.move-card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.move-card-course {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.move-card-lab-image {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.move-card-course-details {
  flex: 1;
  color: white;
  padding: 0 0.5rem;
}

.move-card-course-details>.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
