.cards-container{
    display: grid;
    padding: 10%;
    padding-bottom: 5%;
    grid-template-columns: auto auto;
    
}

.cards-container-image {
    height: 100%;
    width: 55vh;
    
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
  .cardd{
      padding-left: 10px;
  }


