.container{
    margin-top:5%;
    padding:0;
    text-align:center;
}

.button{
   color:whitesmoke;
   display: block;
   margin:auto;
   padding:1rem 3rem;
   background-color: rgb(223, 121, 121);
   margin-top:3rem;
   border: solid 2px rgba(190, 65, 65, 0.685);
   border-radius: 10px;
   align-self: center;
   margin-bottom:1rem;
   min-width:auto;
   font-size:20px;


.container > img {
  width: 100%;
    max-width:240px;
    margin: 10px;
    border-radius: 25px;
}

.jumbotron {
  background-image: url(background.jpg);
  color: white;
  height: 430px;
}
.bckColor {
  background-color: #f4f4f4;"
}


hr {
  width: 100px;
  border-color: #aeccdb;
  background-color: #aeccdb;

}

.name {
  font-size: 30px;
  font-family: "Roboto";
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}


.g {
  max-width:100px;
}

@media (max-width: 992px) {
  .jumbotron {

    height: 320px;
  }


}
